* {
  margin: 0;
  padding: 0;
}
.intro {
  width: 100%;
  height: auto;
}
.container {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container input {
  display: block;
  margin-bottom: 20px;
  padding: 6px 40px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid gray;
}
.container select {
  display: block;
  padding: 6px 40px;
  margin-bottom: 20px;
  cursor: pointer;
}
.container label {
  color: rgb(17, 107, 17);
  font-size: 17px;
  font-family: sans-serif;
  text-align: center;
}
.btn {
  background: rgb(3, 46, 3);
  color: white;
  cursor: pointer;
  transition: 0.8s;
}
.btn:hover {
  background: black;
}
