@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono:wght@200&family=Open+Sans&family=Poppins:wght@400&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.button1 {
  width: 100%;
  position: relative;
  background: rgb(0, 0, 0);
  overflow-x: hidden;
}
.container {
  display: flex;
  width: 100%;
  padding: 16px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container li {
  list-style-type: none;
  margin-right: 20px;
  padding: 0 10px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: 1s;
}

.container li:hover {
  color: rgb(252, 234, 27);
}
.fontawesome1 {
  color: rgb(236, 236, 236);
  cursor: pointer;
  transition: 1s;
}
.fontawesome1:hover {
  color: rgb(0, 0, 0);
}
@media (min-width: 1px) and (max-width: 450px) {
  .button1 {
    width: 100%;
  }
  .container {
    width: 100%;
    display: block;
  }
  .container li {
    display: block;
    margin-top: 20px;
  }

  .fontawesome1 {
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .button1 {
    width: 100%;
  }
  .container {
    width: 100%;
    display: block;
    transform: translate(10px);
    padding: 10px 0;
  }
  .container li {
    display: block;
    margin-top: 20px;
  }

  .fontawesome1 {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .button1 {
    width: 100%;
  }
  .container {
    width: 100%;
    display: block;
  }
  .container li {
    display: block;
    margin-top: 20px;
  }
  .fontawesome1 {
    display: none;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .button1 {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
@media (min-width: 1501px) and (max-width: 3000px) {
  .button1 {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
.button2 {
  width: 100%;
  display: flex;
  margin-left: 30px;
  margin-top: 60px;
  overflow-x: hidden;
}
.container2 {
  width: 30%;
  height: auto;
  margin-right: 30px;
  color: rgb(38, 38, 38);
}
.container2 ul {
  background: rgb(255, 255, 255);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgb(255, 255, 255) 0px 30px 60px -30px,
    rgba(18, 18, 18, 0.35) 0px -2px 6px 0px inset;
}
.container2 li {
  margin-bottom: 22px;
  padding: 8px 4px;
  list-style-type: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;

  transition: 1s;
}
.container2 li:hover {
  transform: scale(1.1);
  color: black;
}
.container2 button {
  height: 7vh;
  width: 60%;
  padding: 3px 8px;
  cursor: pointer;
  background: rgb(52, 40, 1);
  border: 1px solid rgb(14, 11, 13);
  border-radius: 7px;
  margin-bottom: 30px;
  transition: 1s;
  color: rgb(255, 255, 255);
  transition: 0.8s;
  font-size: 14px;
}
.container2 button:hover {
  background: black;
}
.container2 h3 {
  margin-top: 35px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 3px 3px;
  cursor: pointer;
  transition: 0.8s;
}
.container2 h3:hover {
  background: rgb(197, 197, 196);
  transform: scale(1.01);
}
@media (min-width: 1px) and (max-width: 450px) {
  .button2 {
    width: 100%;
    display: block;
  }
  .container2 {
    width: 85%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .button2 {
    width: 100%;
    display: block;
  }
  .container2 {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .button2 {
    width: 100%;
    display: block;
  }
  .container2 {
    width: 90%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 3000px) {
  .button2 {
    width: 100%;
  }
}

.button3 {
  width: 100%;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main3 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.main3 h3 {
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.button4 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.container5 {
  height: 200px;
  width: 160px;
  cursor: pointer;
  align-items: center;
  transition: 0.8s;
  overflow: hidden;
  padding: 20px 20px 0 20px;
  margin: 10px;
  box-shadow: 4px 4px 10px rgba(69, 69, 69, 0.2),
    -4px 4px 10px rgba(128, 128, 128, 0.181),
    -4px -4px 10px rgba(128, 128, 128, 0.214);
}
.container5 p {
  color: rgb(239, 239, 239);
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}
#watch {
  background: rgb(57, 57, 57);
}
#duster {
  background: rgb(192, 192, 192);
}
#mobile {
  background: rgb(0, 135, 135);
}
#beauty {
  background: rgb(69, 0, 0);
}
#garbez {
  background: rgb(191, 191, 191);
}
#tablets {
  background: rgb(191, 191, 191);
}
#labels {
  background: rgb(17, 95, 140);
}
#watch:hover {
  background: black;
}
#duster:hover {
  background: black;
}
#mobile:hover {
  background: black;
}
#beauty:hover {
  background: black;
}
#garbez:hover {
  background: black;
}
#tablets:hover {
  background: black;
}
#labels:hover {
  background: black;
}
.container5 img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

@media (max-width: 450px) {
  .container5 {
    width: 100%;
    height: 300px;
  }
  .container5 img {
    width: 100%;
    height: 220px;
    object-fit: contain;
  }
}

.button5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 20px;
}

.container6 {
  width: 160px;
  height: 200px;
  cursor: pointer;
  align-items: center;
  transition: 0.8s;
  overflow: hidden;
  padding: 20px 20px 0 20px;
  margin: 10px;
  box-shadow: 4px 4px 10px rgba(69, 69, 69, 0.2),
    -4px 4px 10px rgba(128, 128, 128, 0.181),
    -4px -4px 10px rgba(128, 128, 128, 0.214);
}

.container6 p {
  color: rgb(239, 239, 239);
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

.container6 img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
#camera {
  background: rgb(41, 41, 41);
}
#shirt {
  background: rgb(128, 90, 33);
}
#tshirt {
  background: rgb(135, 174, 75);
}
#microwave {
  background: gray;
}
#pants {
  background: rgb(51, 15, 2);
}
#pasta {
  background: rgb(135, 89, 19);
}
#matres {
  background: rgb(168, 168, 168);
}
#camera:hover {
  background: black;
}
#shirt:hover {
  background: black;
}
#tshirt:hover {
  background: black;
}
#microwave:hover {
  background: black;
}
#pants:hover {
  background: black;
}
#pasta:hover {
  background: black;
}
#matres:hover {
  background: black;
}

@media (max-width: 450px) {
  .container6 {
    width: 100%;
    height: 300px;
  }
  .container6 img {
    width: 100%;
    height: 220px;
    object-fit: contain;
  }
}
.button6 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow-y: hidden;
}
.button6 button {
  padding: 10px 70px;
  background: transparent;
  color: rgb(0, 75, 0);
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid rgb(0, 75, 0);
  transition: 0.8s;
  font-family: "Poppins", sans-serif;
}
.button6 button:hover {
  background: rgb(0, 75, 0);
  color: white;
}
@media (max-width: 300px) {
  .button6 button {
    padding: 10px 20px;
  }
}

.container8 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.item {
  min-height: 450px;
  width: 220px;
  transition: 0.8s;
  overflow: hidden;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(69, 69, 69, 0.2),
    -4px 4px 10px rgba(128, 128, 128, 0.181),
    -4px -4px 10px rgba(128, 128, 128, 0.214);
  cursor: pointer;
}
.item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: bold;
}
.paragraph1 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 5px;
}
.paragraph2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.item img {
  height: 200px;
  width: auto;
  object-fit: contain;
}
.item .element {
  padding: 20px;
}

.element {
  margin-top: 10px;
  height: 104px;
  width: 100%;
  transition: 0.8s;
}
.element p {
  margin-top: 17px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#one {
  background: rgb(247, 166, 180);
}
#two {
  background: rgb(25, 25, 96);
}
#three {
  background: rgb(158, 123, 130);
}
#four {
  background: rgb(138, 138, 138);
}
#five {
  background: orangered;
}
#price {
  color: rgb(247, 166, 180);
}
#price1 {
  color: rgb(25, 25, 96);
}
#price2 {
  color: rgb(158, 123, 130);
}
#price3 {
  color: rgb(138, 138, 138);
}
#price4 {
  color: orangered;
}

.icon2 {
  color: rgb(223, 153, 23);
}
.icon3 {
  color: rgb(155, 155, 155);
}

#one:hover {
  background: rgb(0, 0, 0);
}

#two:hover {
  background: rgb(0, 0, 0);
}
#three:hover {
  background: rgb(0, 0, 0);
}
#four:hover {
  background: rgb(0, 0, 0);
}
#five:hover {
  background: black;
}
.item:hover {
  background: rgb(175, 190, 185);
}
@media (min-width: 961px) and (max-width: 1200px) {
  .container8 {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 718px) and (max-width: 960px) {
  .container8 {
    display: flex;
    justify-content: space-between;
  }
  #items {
    width: 28%;
  }
  #items1 {
    width: 28%;
  }
  #items2 {
    width: 28%;
  }
  #items3 {
    width: 45%;
  }
  #items4 {
    width: 45%;
  }
}
@media (min-width: 469px) and (max-width: 721px) {
  .container8 {
    display: flex;
    justify-content: space-between;
  }
  .item {
    width: 45%;
  }
}
@media (max-width: 468px) {
  .container8 {
    display: flex;
    justify-content: space-between;
  }
  .item {
    width: 97%;
  }
}

.container9 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.item1 {
  min-height: 450px;
  width: 220px;
  transition: 0.8s;
  overflow: hidden;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(69, 69, 69, 0.2),
    -4px 4px 10px rgba(128, 128, 128, 0.181),
    -4px -4px 10px rgba(128, 128, 128, 0.214);
  cursor: pointer;
}
.item1 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: bold;
}
.paragraph1 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 5px;
}
.paragraph2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.item1 img {
  height: 200px;
  width: auto;
  object-fit: contain;
}
.item1 .element1 {
  padding: 20px;
}

.element1 {
  margin-top: 10px;
  height: 104px;
  width: 100%;
  transition: 0.8s;
}
.element1 p {
  margin-top: 17px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#six {
  background: rgb(80, 82, 169);
}
#seven {
  background: rgb(168, 168, 168);
}
#eight {
  background: rgb(35, 35, 35);
}
#nine {
  background: rgb(15, 1, 1);
}
#ten {
  background: rgb(24, 23, 22);
}
#price5 {
  color: rgb(80, 82, 169);
}
#price6 {
  color: rgb(168, 168, 168);
}
#price7 {
  color: rgb(35, 35, 35);
}
#price8 {
  color: rgb(15, 1, 1);
}
#price9 {
  color: rgb(24, 23, 22);
}

.icon2 {
  color: rgb(223, 153, 23);
}
.icon3 {
  color: rgb(155, 155, 155);
}

#six:hover {
  background: rgb(0, 0, 0);
}

#seven:hover {
  background: rgb(0, 0, 0);
}
#eight:hover {
  background: rgb(0, 0, 0);
}
#nine:hover {
  background: rgb(0, 0, 0);
}
#five:hover {
  background: black;
}
.item1:hover {
  background: rgb(175, 190, 185);
}
@media (min-width: 961px) and (max-width: 1200px) {
  .container9 {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 718px) and (max-width: 960px) {
  .container9 {
    display: flex;
    justify-content: space-between;
  }
  #items5 {
    width: 28%;
  }
  #items6 {
    width: 28%;
  }
  #items7 {
    width: 28%;
  }
  #items8 {
    width: 45%;
  }
  #items9 {
    width: 45%;
  }
}
@media (min-width: 469px) and (max-width: 721px) {
  .container9 {
    display: flex;
    justify-content: space-between;
  }
  .item1 {
    width: 45%;
  }
}
@media (max-width: 468px) {
  .container9 {
    display: flex;
    justify-content: space-between;
  }
  .item1 {
    width: 97%;
  }
}

.container10 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.item2 {
  min-height: 450px;
  width: 220px;
  transition: 0.8s;
  overflow: hidden;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(69, 69, 69, 0.2),
    -4px 4px 10px rgba(128, 128, 128, 0.181),
    -4px -4px 10px rgba(128, 128, 128, 0.214);
  cursor: pointer;
}
.item2 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: bold;
}
.paragraph1 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 5px;
}
.paragraph2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.item2 img {
  height: 200px;
  width: auto;
  object-fit: contain;
}
.item2 .element2 {
  padding: 20px;
}

.element2 {
  margin-top: 10px;
  height: 104px;
  width: 100%;
  transition: 0.8s;
}
.element2 p {
  margin-top: 17px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#eleven {
  background: rgb(39, 39, 39);
}
#twalve {
  background: rgb(24, 23, 23);
}
#thirtyn {
  background: rgb(24, 23, 23);
}
#fourtin {
  background: rgb(41, 41, 41);
}
#fifteen {
  background: rgb(103, 103, 103);
}
#price10 {
  color: rgb(39, 39, 39);
}
#price11 {
  color: rgb(24, 23, 23);
}
#price12 {
  color: rgb(24, 23, 23);
}
#price13 {
  color: rgb(41, 41, 41);
}
#price14 {
  color: rgb(103, 103, 103);
}

.icon2 {
  color: rgb(223, 153, 23);
}
.icon3 {
  color: rgb(155, 155, 155);
}

#eleven:hover {
  background: rgb(0, 0, 0);
}

#twalve:hover {
  background: rgb(0, 0, 0);
}
#thirtyn:hover {
  background: rgb(0, 0, 0);
}
#fourtin:hover {
  background: rgb(0, 0, 0);
}
#fifteen:hover {
  background: black;
}
.item2:hover {
  background: rgb(175, 190, 185);
}
@media (min-width: 961px) and (max-width: 1200px) {
  .container10 {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 718px) and (max-width: 960px) {
  .container10 {
    display: flex;
    justify-content: space-between;
  }
  #items10 {
    width: 28%;
  }
  #items11 {
    width: 28%;
  }
  #items12 {
    width: 28%;
  }
  #items13 {
    width: 45%;
  }
  #items14 {
    width: 45%;
  }
}
@media (min-width: 469px) and (max-width: 721px) {
  .container10 {
    display: flex;
    justify-content: space-between;
  }
  .item2 {
    width: 45%;
  }
}
@media (max-width: 468px) {
  .container10 {
    display: flex;
    justify-content: space-between;
  }
  .item2 {
    width: 97%;
  }
}

.container11 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.item3 {
  min-height: 450px;
  width: 220px;
  transition: 0.8s;
  overflow: hidden;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(69, 69, 69, 0.2),
    -4px 4px 10px rgba(128, 128, 128, 0.181),
    -4px -4px 10px rgba(128, 128, 128, 0.214);
  cursor: pointer;
}
.item3 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: bold;
}
.paragraph1 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 5px;
}
.paragraph2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.item3 img {
  height: 200px;
  width: auto;
  object-fit: contain;
}
.item3 .element3 {
  padding: 20px;
}

.element3 {
  margin-top: 10px;
  height: 104px;
  width: 100%;
  transition: 0.8s;
}
.element3 p {
  margin-top: 17px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#sixteen {
  background: rgb(39, 39, 39);
}
#seventten {
  background: rgb(98, 190, 70);
}
#eightten {
  background: rgb(122, 112, 62);
}
#ninteen {
  background: rgb(171, 171, 171);
}
#twenty {
  background: rgb(25, 25, 25);
}
#price15 {
  color: rgb(39, 39, 39);
}
#price16 {
  color: rgb(98, 190, 70);
}
#price17 {
  color: rgb(171, 171, 171);
}
#price18 {
  color: rgb(122, 112, 62);
}
#price19 {
  color: rgb(103, 103, 103);
}

.icon2 {
  color: rgb(223, 153, 23);
}
.icon3 {
  color: rgb(155, 155, 155);
}

#sixteen:hover {
  background: rgb(0, 0, 0);
}

#seventten:hover {
  background: rgb(0, 0, 0);
}

#eightten:hover {
  background: rgb(0, 0, 0);
}
#ninteen:hover {
  background: rgb(0, 0, 0);
}
#twenty:hover {
  background: black;
}
.item3:hover {
  background: rgb(175, 190, 185);
}
@media (min-width: 961px) and (max-width: 1200px) {
  .container11 {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 718px) and (max-width: 960px) {
  .container11 {
    display: flex;
    justify-content: space-between;
  }
  #items15 {
    width: 28%;
  }
  #items16 {
    width: 28%;
  }
  #items17 {
    width: 28%;
  }
  #items18 {
    width: 45%;
  }
  #items19 {
    width: 45%;
  }
}
@media (min-width: 469px) and (max-width: 721px) {
  .container11 {
    display: flex;
    justify-content: space-between;
  }
  .item3 {
    width: 45%;
  }
}
@media (max-width: 468px) {
  .container11 {
    display: flex;
    justify-content: space-between;
  }
  .item3 {
    width: 97%;
  }
}

.main4 {
  width: 100%;
  display: block;
  height: auto;
  padding: 60px 60px;
  background: rgb(1, 23, 0);
  color: rgb(211, 211, 211);
}
.main5 {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  margin-bottom: 50px;
}
.main5 form {
  margin-right: 20px;
}
.main5 input {
  height: 6.5vh;
  width: 40vh;
  text-align: center;
  background: rgb(207, 205, 205);
  border: 1px solid rgba(5, 91, 106, 0.291);
}
.main5 button {
  height: 6.5vh;
  width: 15vh;
  border: 1px solid rgb(156, 156, 156);
  background: rgb(24, 35, 23);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.8s;
}
.main5 button:hover {
  background: rgb(29, 19, 30);
}
.button11 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container12 {
  margin-right: 40px;
}
.container12 h3 {
  font-size: 24px;
  font-family: sans-serif;
}
.container12 p {
  font-size: 15px;
  font-family: sans-serif;
}
@media (min-width: 1px) and (max-width: 450px) {
  .main4 {
    width: 100%;
    display: block;
    height: auto;
  }

  .main5 input {
    font-size: 9px;
  }
  .main5 button {
    font-size: 9px;
  }
  .button11 {
    width: 100%;
    display: block;
  }
  .container12 {
    width: 90%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .main4 {
    width: 100%;
    display: block;
    height: auto;
  }
  .main5 {
    width: 100%;
  }

  .button11 {
    width: 100%;
    display: block;
  }
  .container12 {
    width: 90%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main4 {
    width: 100%;
    display: block;
    height: auto;
  }
  .main5 {
    width: 100%;
  }

  .button11 {
    width: 100%;
    display: block;
  }
  .container12 {
    width: 90%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 3000px) {
  .main4 {
    width: 100%;
  }
}
.main7 {
  height: auto;
  width: 100%;
  background: #0b0d0b;
}
.container10 {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 0;
}
.item11 {
  width: 200px;
  height: auto;
  color: rgb(155, 155, 155);
  margin: 40px;
}
.item11 h1 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  color: rgb(231, 231, 231);
  overflow: hidden;
}
.item11 p {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.container11 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;

  padding: 30px;
  color: rgb(155, 155, 155);
}
.item12 {
  width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.item12 p {
  margin-right: 10px;
}
.font8 {
  margin-right: 10px;
  transition: 0.8s;
}
.font8:hover {
  color: #8efff6;
  cursor: pointer;
  transform: scale(1.2);
}
@media (min-width: 1121px) and (max-width: 1205px) {
  .container11 {
    width: 100%;
  }
  .item12 {
    margin-top: 15px;
  }
}

@media (min-width: 851px) and (max-width: 1201px) {
  .container10 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .item12 {
    margin-top: 15px;
  }
}

@media (max-width: 850px) {
  .container10 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .item12 {
    margin-top: 15px;
  }
}
@media (min-width: 1px) and (max-width: 380px) {
  .container11 {
    width: 100%;
  }
  .item12 {
    margin-top: 15px;
    font-size: 8px;
    text-align: left;
  }
}
